@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// vars

$magenta: #9C0332;

// styles

:root {
  --magenta: #{$magenta};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #000915;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  padding-inline: max(50% - 599px, 16px);
}

.header {
  height: 1024px;
  background-image: url(../img/top_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 217px;

  &.flex {
    display: flex;
    flex-direction: column;
  }
  
  &__huge {
    max-width: 700px;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  &__big {
    width: 584px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
  }

  &__medi {
    max-width: 510px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 44px;

    &--bold {
      font-weight: 700;
      display: inline-block;
      transition: text-decoration-color 0.8s;

      &:hover {
        text-decoration: underline 4px var(--magenta);
      }

    }

  }

  &__start {
    display: block;
    width: 100%;
    max-width: 234px;
    height: 48px;
    border-radius: 30px;
    background: var(--magenta);
    border: 1px solid var(--magenta);
    color: #FFF;
    font-size: 18px;
    transition: box-shadow 0.5s ease-in-out;

    &.flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      box-shadow: inset 0 0 10px 2px #FFF;
    }

    &--scalable {
      display: inline-block;
      transition: transform 0.3s ease-in-out;
    }

    &:hover &--scalable {
      transform: scaleX(1.1);
    }

  }

}

.main {
  flex-grow: 1;
}

.game {

  &s {
    min-height: 556px;
    background: #000915;
    padding-block: 128px;

    &.flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 32px;
    }

    &__title {
      display: none;
    }

    &__card {
      display: table;
      width: 378px;
      height: 300px;
      padding: 32px;
      border-radius: 16px;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      &--no1 {
        background-image: url(../img/game_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &--no2 {
        background-image: url(../img/game_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &--no3 {
        background-image: url(../img/game_3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

    }

    &__caption {
      display: table-cell;
      vertical-align: bottom;
      color: #FFF;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      transition: transform 0.5s ease-in-out, text-shadow 0.3s ease-in-out;

      .games__card:hover & {
        text-shadow: -6px 7px 13px lighten($magenta, 30%); //greenyellow;
      }

    }

  }

}

#quiz {
  background: url("../img/game_3_bg.png");
}

.footer {
  display: table;
  width: 100%;
  height: 80px;

  &__text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
  }

}

@media (max-width: 1229px) {

  .center {
    padding-inline: max(50% - 394px, 16px);
  }

}

@media (max-width: 819px) {

  .center {
    padding-inline: max(50% - 189px, 16px);
  }

  .header {
    text-align: center;

    &.flex {
      align-items: center;
    }

    &__huge {
      font-size: 48px;
    }

    &__medi {
      font-size: 16px;
    }

  }

  .games {
    //padding-block: 64px;

    &__card {
      width: 100%;
      max-width: 378px;
      padding-inline: 16px;
    }

  }

}

@media (max-width: 370px) {

  .header {

    &__huge {
      font-size: 32px;
    }

    &__medi {
      font-size: 14px;
    }

  }

}
