@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

// vars

$magenta: #9C0332;

// styles

:root {
  --magenta: #{$magenta};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #000915;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  padding-inline: max(50% - 599px, 16px);
}

.header {
  height: 1024px;
  background-image: url(../img/top_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 217px;
  position: relative;

  &.flex {
    display: flex;
    flex-direction: column;
  }

}

.text {

  &-huge {

    &.button {
      text-align: left;
      background-color: transparent;
      border: none;
    }

    & {
      max-width: 700px;
      color: #FFF;
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 32px;
    }

    & + .secret {
      display: none;
      color: red;
      font-size: 26px;
      font-weight: 700;
      position: absolute;
      top: 277px;
      left: calc(max(50% - 599px, 16px) + 80px);
      text-shadow: 0 0 6px maroon; // red;
      transform: rotate(30deg);
    }

    &:hover + .secret, & + .secret:hover {
      display: block;
    }

  }

  &-big {
    width: 584px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    transition: text-decoration-color 0.8s;

    &:hover {
      text-decoration: underline 4px var(--magenta);
    }

  }

  &-medi {
    max-width: 510px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 44px;

    &--bold {
      font-weight: 700;
      display: inline-block;
      transition: text-decoration-color 0.8s;

      &:hover {
        text-decoration: underline 4px var(--magenta);
      }

    }

  }

}

.button {

  &-start {
    display: block;
    width: 100%;
    max-width: 234px;
    height: 48px;
    border-radius: 30px;
    background: var(--magenta);
    border: 1px solid var(--magenta);
    color: #FFF;
    font-size: 18px;
    transition: box-shadow 0.5s ease-in-out;

    &.flex {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      box-shadow: inset 0 0 10px 2px #FFF;
    }

    &--scalable {
      display: inline-block;
    }

    &:hover &--scalable {
      transform: scale(1.1);
      animation: heartbeat 1.5s ease-in-out infinite both;

      @keyframes heartbeat {
        from {
          transform: scale(1);
          transform-origin: center center;
          animation-timing-function: ease-out;
        }
        10% {
          transform: scale(0.91);
          animation-timing-function: ease-in;
        }
        17% {
          transform: scale(0.98);
          animation-timing-function: ease-out;
        }
        33% {
          transform: scale(0.87);
          animation-timing-function: ease-in;
        }
        45% {
          transform: scale(1);
          animation-timing-function: ease-out;
        }
      }

    }

  }

}

.main {
  flex-grow: 1;
}

.game {

  &s {
    min-height: 556px;
    background: #000915;
    padding-block: 128px;

    &.flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 32px;
    }

    &__title {
      display: none;
    }

    &__card {
      display: table;
      width: 378px;
      height: 300px;
      padding: 32px;
      border-radius: 16px;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      &--no1 {
        background-image: url(../img/game_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &--no2 {
        background-image: url(../img/game_2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &--no3 {
        background-image: url(../img/game_3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

    }

    &__caption {
      display: table-cell;
      vertical-align: bottom;
      color: #FFF;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      transition: transform 0.5s ease-in-out, text-shadow 0.3s ease-in-out;

      .games__card:hover & {
        text-shadow: -6px 7px 13px lighten($magenta, 30%); //greenyellow;
      }

    }

  }

  &-line {
    height: 800px;

    &.flex {
      display: flex;
      align-items: center;
      gap: 64px 135px;
    }

    & .text-medi {
      margin-bottom: 0;
    }

    &--left {

      & .game__logo {
        width: 100%;
        max-width: 485px;
        max-height: 333px;
      }

    }

    &--right {

      &.flex {
        flex-direction: row-reverse;
      }

      & .game__logo {
        width: 100%;
        max-width: 481px;
        max-height: 322px;
      }

    }

    &--center {

      &.flex {
        justify-content: center;
      }

    }

    & .game__center {
      text-align: center;

      &.flex {
        display: flex;
        align-items: center;
      }

    }

  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

}

#quiz {
  background: url("../img/game_3_bg.png");
}

.footer {
  width: 100%;
  height: 80px;

  &.flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;

    &:hover {
      border: 2px solid maroon;
      border-radius: 5px;
      //box-shadow: 0 0 17px red, 0 0 20px red;
      box-shadow: 0 0 10px red, 0 0 50px red, 0 0 100px red;
    }

  }

}

@media (max-width: 1229px) {

  .center {
    padding-inline: max(50% - 394px, 16px);
  }

  .text {

    &-huge {

      & + .secret {
        left: calc(max(50% - 394px, 16px) + 80px);
      }

    }

  }

  .game {

    &-line {
      padding-top: 51px;

      &.flex {
        flex-direction: column;
      }

      &--center {

        &.flex {
          justify-content: flex-start;
        }

      }

    }

    &__box {
      text-align: center;
      align-items: center;
    }

  }

}

@media (max-width: 819px) {

  .center {
    padding-inline: max(50% - 222px, 16px);
  }

  .header {
    text-align: center;

    &.flex {
      align-items: center;
    }

  }

  .text {

    &-huge {

      &.button {
        text-align: inherit;
      }

      & {
        font-size: 48px;
      }

      & + .secret {
        top: 284px;
        left: calc(max(50% - 202px, 16px) + 90px);
      }

    }

    &-big {
      width: 100%;
    }

    &-medi {
      font-size: 16px;
    }

  }

  .game {

    &s {

      &.flex {
        justify-content: center;
      }

      &__card {
        width: 100%;
        max-width: 378px;
        padding-inline: 16px;
      }

    }

  }

}

@media (max-width: 436px) {

  .text {

    &-huge {

      & + .secret {
        left: max(50% - 112px, 16px);
      }

    }

  }

}

@media (max-width: 375px) {

  .text {
    height: 735px;

    &-big {
      width: 100%;
      font-size: 32px;
    }

    &-medi {
      font-size: 14px;
    }

  }

  .game {

    &-line {
      height: 654px;
    }

  }

}

@media (max-width: 361px) {

  .text {

    &-huge {
      font-size: 32px;

      & + .secret {
        top: 265px;
        left: max(50% - 90px, 16px);
        font-size: 20px;
      }

    }

  }

}
